link(rel="stylesheet", type="text/css", href="style.css")
script(type="text/javascript", src="node_modules/angular/angular.min.js")
script(type="text/javascript", src="node_modules/angular-ui-router/release/angular-ui-router.min.js")
script(type="text/javascript", src="js/app.js")

body(ng-app='MyApp')

	.header Screenshot Testing v0.0.0
	.div(ui-view)